<!DOCTYPE html>
<html>
<head>
  <title>Kết quả tìm kiếm</title>
</head>
<body>
  <h1>Kết quả tìm kiếm</h1>

  {{#if (isEmpty courses)}}
    <p>Không tìm thấy kết quả phù hợp.</p>
  {{else}}
    <ul>
      {{#each courses}}
        <li>
          <h3>{{name}}</h3>
          <p>Slug: {{slug}}</p>
          <p>Ảnh: {{img}}</p>
          <p>Giá: {{gia}}</p>
        </li>
      {{/each}}
    </ul>
  {{/if}}
</body>
</html>